 @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Slab);

            * {
                margin: 0px;
                padding: 0px;
            }
            
            
            body {
                font-family: Montserrat;
                font-weight:400;
                font-size: .7em;
            }
            
            p {
                font-family: Roboto Slab;
                font-size: .7em;
                margin: 10px 0px 10px 0px;
            }

             img {
                padding:0px 10px 25px 0px;
            }
            
            h1 {
                  font-family: Montserrat;
                font-weight:400;
                font-size: 1em;
                margin-top: 25px;
                margin-bottom: 20px;
            }
            
            h2 {
                  font-family: Montserrat;
                font-weight:400;
                font-size: 1.25em;
                color: #333333;
                margin-top:20px;
            }
            
            h3 {
                color: white;
                  font-family: Montserrat;
                font-weight:400;
                font-size: .75px;
            }
            
            .top {
                background-color: #333333;
                padding: 15px 35px 0px 55px;
                margin-bottom: 10px;
            }
            
            #intro {
                padding: 150px 0px 360px 0px;
            }
            
            #intro,
            #about {
                background-color: #333333;
                color: white;
            }
            
            #intro img {
                padding-bottom: 15px;
            }
            
           
            ul.nav li {
                  font-family: Montserrat;
                font-weight:700;
                color: white;
                float: left;
                list-style: none;
                font-size: .7px;
                margin: 12px 30px 10px 0px;
            }
            
            .work {
                margin: 10px;
            }
            
            #work img {
                padding: 10px;
            }
            
            #work {
                padding: 30px 10px 150px 10px;
            }
            
            #about {
                padding: 50px 0px 100px 10px;
                background-color: #333333;
                color: white;
            }
            
            .back {
                padding-bottom: 50px;
            }
            
            footer {
                  padding: 20px 0px 30px 0px;
            }
            /*BUTTONS*/
            
            .b1,
            .b2,
            .b3,
            .b4 {
                border-radius: 4px;
                padding: 6px 11px 6px 11px;
            }
            
            .b1 {
                background-color: #D3BE7A;
            }
            
            .b1:hover {
                background-color: #B09E66;
            }
            
            .b2 {
                background-color: #CBBB88;
            }
            
            .b2:hover {
                background-color: #A99C71;
            }
            
            .b3 {
                background-color: #C3B896;
            }
            
            .b3:hover {
                background-color: #A3997D;
            }
            
            .b4 {
                background-color: #B8B4A9;
            }
            
            .b4:hover {
                background-color: #99968D;
            }
            /*LINKS*/
            
            a:link {
                color: #333333;
            }
            
            a:visited {
                color: #333333;
            }
            
            #about a:visited,
            .nav a:visited {
                color: white;
            }
            
            #about a:link,
            .nav a:link {
                color: white;
            }
            
            #about a:hover,
            a:hover {
                color: #CBBB88;
            }
            
            .caption {
                display: none;
                position: absolute;
                background-color: #333333;
                opacity: .7;
                padding: 100px;
            }