 @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Anonymous+Pro);
 
            * {
                margin: 0px;
                padding: 0px;
            }
    
            body {
                font-family: Montserrat;
                font-weight:400; 
            }
            
            p {
                font-family: Anonymous Pro;
                font-size: .9em;
                margin:0px 10px 10px 0px;
            }

             img {
                margin:0px 10px 20px 0px;
            }

            h1 {
                  font-family: Montserrat;
                  font-weight:700;
                font-size: 2.5em;
                margin: 15px 0px 20px 0px;
            }
            
            h2 {
                  font-family: Montserrat;
                font-weight:400;
                font-size: 1.6em;
                color: #333333;
                margin-top:20px;
            }
            
            h3 {
                color: white;
                  font-family: Anonymous Pro;
                font-size: .9em;
            }
            
            .top {
                background-color: #333333;
                padding: 15px 35px 5px 55px;
                margin-bottom: 10px;
            }

            section#intro {
                 min-height: 100%;
  min-width: 1024px;
            padding: 100px 0px 340px 0px;   
                background-image:url("../images/bg.jpg");  
                background-size:cover;
                width:100%;
                height:auto;
                background-position:center;   
            }
            
            #intro,
            #about {
                color: white;
            }
            
            #intro img {
                padding-bottom: 15px;
            }

            div.columns.centered{
                text-align: center;
            }
           
             ul.nav li {
                font-family: Montserrat;
                font-weight:700;
                color: white;
                float: left;
                list-style: none;
                font-size: .8em;
                margin: 5px 30px 0px 0px;
            }
            
            .work {
                margin: 10px;
            }
            
            #work img {
                margin: 10px 0px 15px 20px;

            }
            
            #work {
                padding: 20px 10px 100px 10px;
            }
            
            #about {
                padding: 20px 0px 100px 10px;
                 background-color: #333333;
            }
            #about img{
                padding:5px 10px 10px 10px;
            }
            
             #about p {
                margin:5px 10px 10px 10px;
            }

            .back {
                padding-bottom: 50px;
            }
            
            footer {
                  padding: 20px 0px 35px 0px;
            }

            /*BUTTONS*/    
            ul.site-nav a.button {
                margin-top: 1em;
            }

            .b1,
            .b2,
            .b3,
            .b4 {
                border-radius: 2px;
                padding: 6px 5px 6px 5px;
                text-align:center;
                display: inline-block;
                width:200px;
            }
            
            .b1 {
                background-color: #D3BE7A;
            }
            
            .b1:hover {
                background-color: #9E8F5C;
            }
            
            .b2 {
                background-color: #CBBB88;
            }
            
            .b2:hover {
                background-color: #988C66;
            }
            
            .b3 {
                background-color: #C3B896;
            }
            
            .b3:hover {
                background-color: #928A71;
            }
            
            .b4 {
                background-color: #B8B4A9;
            }
            
            .b4:hover {
                background-color: #8A877F;
            }
            /*LINKS*/
           
            a:link {
                color: #333333;
            }
            
            a:visited {
                color: #333333;
            }
            
            #intro a:visited,
            #about a:visited,
            .nav a:visited {
                color: white;
            }
            
            #intro a:link,
            #about a:link,
            .nav a:link {
                color: white;
            }
            
            #about a:hover,
            a:hover {
                color: #CBBB88;
            }
            
       

